// 重置样式
body,p,ul,dl,dd, ul,h1,h2,h3,h4,h5,h6{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
input,button{
    outline: none;
    padding: 0;
    border: 0;
}
